:root {
    /* Màu chủ đạo */
    --color-primary: #4b9ce2;
    --color-secondary: #f7b731;
    --color-bg: #f9fafb;
    --color-text: # 1a1a1a;
    --color-border: #e5e7eb;
    
    /* Phông chữ */
    --font-family: 'poppins', sans-serif;
}    

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--color-bg);
    color: var(--color-text);
}
button {
    cursor: pointer;
}